.header {
  background-color: #91c6c9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.nav {
  background-color: #91c6c9;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.7rem;
}

ul {
  list-style-type: none;
}

.articleHeader {
  background-color: #91c6c9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

.allArticles {
  background-color: #91c6c9;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

img {
  width: 300px;
  height: 150px;
}

.listItems {
  width: 300px;
  height: 400px;
  padding: 20px;
}

.singleArticle {
  background-color: #91c6c9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  height: 1000px;
  width: 500px;
  border-radius: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
.commentsButton {
  background-color: white;
  color: #91c6c9;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.comments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.comments {
  background-color: #91c6c9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.7rem;
  margin: 0.5rem;
  height: 400px;
  width: 400px;
  border-radius: 20px;
}

.commentsButton {
  background-color: white;
  color: #91c6c9;
  width: 130px;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.commentsButton:hover {
  cursor: pointer;
}

.homeButtonComment {
  margin: 0;
  width: auto;
  height: auto;
}

button:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

.commentform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.commentform label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentform input[type="text"],
.commentform textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-family: sans-serif;
  color: #91c6c9;
}

.commentform button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
